*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    color: #333;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.box{
    height: 600px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.mainbox{
    background-color: black ;
    color: #fff;
    padding: 50px 30px;
    border-radius: 10px;
}
h1{
    letter-spacing: 2px;
    font-family: monospace;
}

input[type=text]{
    margin-top: 20px;
    outline: none;
    padding: 10px 7px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 50%;
}

input[type=button]{
    margin-top: 40px;
    outline: none;
    padding: 10px 8px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    width: 53%;
    font-weight: 600;
    font-family: monospace;
    color: #333;
    background-color: #fff;
}

#dashboard{
    display: none;
}

.active{
    display: block !important;
}
/* ------------------------------dashboard---------------- */
.container2{
    width: 80%;
    margin: 0 auto;
}

header{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    background-color: black;
}

.d-flex{
    height: 80px;
    line-height: 80px;
}
.left{
    float: left;
    height: 100px;
}
.right{
    float: right;
}

.h{
    list-style-type: none;
    margin: 0;
    padding: 8px;
}
.h li{
    display: inline;
}
.h li a{
    color: #fff;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 20px;
    padding: 7px 13px;
    letter-spacing: 2px;
}

.un{
    display: inline;
    font-family: cursive;
    background-color: #219ebc;
    padding: 7px 13px;
    font-size: 16px;
}
.contentbox{
    margin-top: 30px;
    box-sizing: border-box;
}

.cboxleft{
    float: left;
    padding: 80px 0;
    box-sizing: border-box;
}

.sidebar{
    padding: 50px 40px;
    border: 2px solid #ddd;
    box-sizing: border-box;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sidebar ul li{
    margin-top: 30px;
}

.sidebar ul li {
    letter-spacing: 2px;
    font-weight: 600;
    font-family: monospace;
    font-size: 18px;
    color: #333;
}
.sidebar ul li span{
    font-size: 16px;
    font-family: cursive;
}

.cboxright{
    box-sizing: border-box;
    float: right;
    width: 60%;
    padding: 80px 0;
    box-sizing: border-box;
}

.m-con{
    padding: 50px 40px;
    text-align: center;
    border: 2px solid #ddd;
}


.dff{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.circle{
    max-height: 150px;
    line-height: 150px;
    width: 150px;
    text-align: center;
    border-radius: 100%;
    font-weight: 600;
    color: #333;
}

.mywallet , .reward_per , .reward , .today{
    padding: 10px;
}

.cr1{
    background-color: #bde0fe;
    color: #333;
}
.cr2{
    background-color: #ca6702;
}
.cr3{
    background-color: rgb(255, 162, 0);
}
.cr4{
    background-color: rgb(255, 72, 0);
}

.ct{
    color: #333;
    max-width: 150px;
    text-align: center;
    font-family: monospace;
    letter-spacing: 2px;
    margin-top: 10px;
    font-size:20px;
    font-weight: 800;
}

.sidebar h1 , .m-con h1{
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#menuIcon{
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    display: none;
}

#menuIcon2{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    display: none;
}

#mc{
    display: none;
}

#mci{
    display: none;
}

@media only screen and (max-width: 1150px) {
    #mc{
        display: block;
    }
    #mci{
        display: block;
    }
    

    *,body{
        margin: 0;
        padding: 0;
    }
    header{
        padding: 0;
    }
    .cboxleft{
        float: none;
        padding: 20px;
    }
    .cboxright{
        float: none;
        width: 100%;
        padding: 20px;
    }
    .m-con h1{
        text-align: normal;
    }
    #menuIcon{
        float: right;
        display: block;
    }

    .right{
        position: fixed;
        width: 60%;
        float: none;
        margin-left: -10%;
    }
    #skd{
        display: none;
    }

    .h{
        display: none;
        height: 100vh;
        background-color: #219ebc;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .h li{
        padding: 0;
        margin: 0;
        display: block;
    }
    .h li a{
        color: #fff;
        text-decoration: none;
        font-family: monospace;
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        margin-left: 10px;
        padding: 7px 13px;
        letter-spacing: 2px;
    }

    .mainbox{
        margin: 20px;

    }
}

@media only screen and (max-width: 450px) {
    .mainbox{
        padding: 30px 10px;
    }
    input[type=text]{
        font-size: 16px;
    }
    
    button{
        font-size: 16px;
    }
    .right{
        position: fixed;
        width: 70%;
        float: none;
        margin-left: -10%;
    }
    .sidebar{
        padding: 20px 10px;
        border: none;
    }

    .sidebar ul li{
        border: none;
    }

    .m-con{
        padding: 10px;
        text-align: center;
        border: none;
    }
    
}